/* ---------------------------- 
      (max-width:1199px)
------------------------------ */
@media only screen and (max-width: 1199px) {
  .custom_container {
    padding: 0px 16px;
  }

  .browser_img1 img,
  .browser_img3 img {
    right: 0px;
  }

  .browser_img2 img {
    left: 0px;
  }

  .enterprise_2 {
    border-right: none !important;
  }
}

/* ---------------------------- 
      (max-width:991px)
------------------------------ */
@media only screen and (max-width: 1064px) {
  .review-card {
    margin: 0px 15px 0px;
    padding: 30px;
  }

  .review-card .main-text {
    padding: 0%;
    margin: 0px 0px 20px;
    border: none;
    font-size: 20px;
    line-height: 28px;
  }

  .slick-arrow {
    padding: 0px 40px;
  }
}

/* ---------------------------- 
      (max-width:991px)
------------------------------ */
@media only screen and (max-width: 991px) {
  .header_wrap .navbar {
    padding: 16px 0px;
  }

  .header_wrap .navbar-toggler {
    border: 0px;
  }

  .header_wrap .navbar-toggler:focus {
    box-shadow: none;
  }

  .header_wrap .navbar-collapse {
    padding: 20px 6px;
    background-color: aliceblue;
  }

  .header_wrap .navbar-expand-lg .navbar-nav .nav-link {
    color: black;
  }

  .header_wrap .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .browser_img1 img,
  .browser_img2 img {
    position: relative;
  }

  .enterprise_2 {
    border-right: none !important;
  }

  .main_post {
    margin-right: 0px;
  }

  .post_card {
    flex-direction: column;
  }

  .start_box {
    padding: 100px 40px 109px;
  }
}

/* ---------------------------- 
      (max-width:768px)
------------------------------ */
@media only screen and (max-width: 768px) {
  .enterprise-box .row-line>div {
    border-right: none !important;
  }

  .py_214,
  .review-box,
  .integrations_box,
  .integrations_box.bg_dark,
  .start_box {
    padding: 100px 16px;
  }
}

/* ---------------------------- 
      (max-width:575px)
------------------------------ */
@media only screen and (max-width: 575px) {
  .review-card {
    margin: 0px 7px 0px;
    padding: 15px;
  }

  .review-box .slick-prev,
  .review-box .slick-next {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .avatar-box img {
    width: 50px;
    height: 50px;
  }

  .avatar-box h4,
  .avatar-box p {
    font-size: 16px;
    line-height: 24px;
  }

  .nav_slider_logo {
    padding-top: 20px;
  }

  .nav_slider_logo img {
    width: auto;
    height: 24px;
    cursor: pointer;
  }

  .blog_card {
    margin: 0px 7px 0px;
    /* height: auto; */
  }

  .header_wrap .header_menu1 {
    width: 100%;
  }

  .header_wrap .header_menu2 {
    width: 100%;
  }

  .header_wrap .dropdown-menu.header_menu1 {
    left: 0;
    transform: none;
    margin-top: 10px;
  }

  .start_box h1 {
    font-size: 38px;
    line-height: 49px;
  }

  .features_btn,
  .trial_btn {
    padding: 12px;
  }

  .footer {
    padding: 87px 16px 30px;
  }

  .bottom_line {
    margin-top: 30px;
  }
}