* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GT America';
  src: url('../font/GT-America/GT-America-Standard-Regular.woff2') format('woff2'),
    url('../ffont/GT-America/GT-America-Standard-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America/GT-America-Standard-Bold.woff2') format('woff2'),
    url('../fonts/GT-America/GT-America-Standard-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../font/GT-America/GT-America-Standard-Regular-Italic.woff2') format('woff2'),
    url('../ffont/GT-America/GT-America-Standard-Regular-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America/GT-America-Standard-Bold-Italic.woff2') format('woff2'),
    url('../fonts/GT-America/GT-America-Standard-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.custom_container {
  padding: 0px 80px;
}

img {
  max-width: 100%;
}

.bg_img {
  background-image: url(/assets/image/hero.svg);
  width: 100%;
  height: 1295px;
  background-position: center 15%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1c1c1e;
  position: relative;
  z-index: 0;
}

/* start header css */
.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

/* .header_wrap.nav-fixed {
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background: #1c1c1e;
} */
.header_wrap .navbar {
  padding: 20px 80px;
}

.header_wrap .navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-family: GT America;
  font-size: 14px;
  padding: 0px 15.7px;
  font-weight: 400;
  letter-spacing: 0.07px;
  text-transform: uppercase;
}

.header_wrap .navbar-expand-lg .navbar-nav .nav-link i {
  color: #2fc177;
  margin-left: 2px;
}

.header_wrap .dropdown-toggle::after {
  display: none;
}

.header_wrap .header_menu1 {
  width: 540px;
}

.header_wrap .header_menu2 {
  width: 720px;
}

.header_wrap .dropdown-menu.header_menu1 {
  padding: 34px 30px;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 24px 32px 4px rgba(167, 174, 186, 0.12);
}

.header_wrap .dropdown-menu.header_menu1:before {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.header_wrap .header_menu1 .header_menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header_wrap .header_menu1 .header_menu_list li {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
}

.header_wrap .header_menu1 .header_menu_list li a {
  cursor: pointer;
  color: #111b29;
  font-family: "GT America";
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.header_wrap .header_menu1 .header_menu_list li a:hover {
  color: #218753;
}

.header_menu_text {
  color: #1c1c1e;
  font-family: "GT America";
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.common_btn.common_btn1 {
  border: 1px solid #2d2f30;
  background: #1c1c1e;
}

.common_btn {
  color: #fff;
  text-align: center;
  font-family: GT America;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #134d30;
  background: #218753;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15),
    0px 2px 0px 0px rgba(255, 255, 255, 0.08) inset;
}

.banner_section {
  padding: 200px 0px 81px;
}

.banner_section h1 {
  max-width: 640px;
  margin: auto;
  color: #fff;
  text-align: center;
  font-family: Alliance No.2;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0.3px;
}

.banner_section h5 {
  max-width: 895px;
  margin: 20px auto 52px;
  color: #97a4b5;
  text-align: center;
  font-family: Alliance No.2;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.14px;
}

.banner_video {
  height: 720px;
}

/* start why blockbax section  */
.py_200 {
  padding: 200px 0px 184px;
}

.why_blockbax_section {
  max-width: 720px;
}

.why_blockbax_section p {
  color: #218753;
  font-family: GT America;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.why_blockbax_section h2 {
  color: #1c1c1e;
  font-family: Alliance No.2;
  font-size: 36px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.18px;
}

.why_blockbax_section h2 span {
  color: #218753;
}

.pt_80 {
  padding-top: 80px;
}

.icon_box {
  margin-left: 10px;
}

.icon_box h4 {
  color: #218753;
  font-family: GT America;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 7px;
}

.icon_box h5 {
  color: #2a3643;
  font-family: GT America;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
}

/* start black theme section */
.bg_black {
  background-color: #1c1c1e;
}

.py_100 {
  padding: 100px 0px;
}

.counter_section h3 {
  color: #218753;
  font-family: GT America;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.counter_section h4 {
  color: #fff;
  font-family: GT America;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.common_section h2,
.enterprise-box h2,
.review-box .head h2,
.integrations_box .head h2 {
  font-family: Alliance No.2;
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.21px;
}

/* start flexibility css */
.py_281 {
  padding: 281px 0px;
}

.browser_img1 img {
  position: absolute;
  right: -80px;
  top: 128px;
}

.common-box {
  max-width: 494px;
}

.common-box h5 {
  color: #fff;
  font-family: GT America;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.common-box p {
  color: #97a4b5;
  font-family: GT America;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_60 {
  margin-bottom: 60px;
}

/* start configurable ui css */
.browser_img2 img {
  position: absolute;
  left: -80px;
  top: 72px;
}

/* start streaming analytics css */
.browser_img3 img {
  position: absolute;
  right: -80px;
  top: 72px;
}

/* start designed css */
.bg_img_circle {
  padding: 73px 0px 127px;
}

.circle_background {
  background-image: url(/assets/image/circle.svg);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 57px;
}

.success_badge {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 50%;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.06);
  color: #218753;
  text-align: center;
  font-family: GT America;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.08px;
  margin-bottom: 30px;
}

.designed_text h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.21px;
}

.designed_text p {
  max-width: 720px;
  margin: auto;
  color: #97a4b5;
  font-family: GT America;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.main_logo_box {
  min-height: 260px;
  height: 100%;
  padding: 40px 15px 10px;
  border-radius: 16px;
  border: 1px solid #303030;
  background: var(--Gradient-Card-Dark,
      linear-gradient(180deg, #2b2b2b 0%, #1a1a1a 100%));
  box-shadow: 0px 1px 4px 0px rgba(37, 39, 59, 0.1);
  max-width: 385px;
}

.main_logo_box h5 {
  color: #fff;
  font-family: GT America;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}

.gap_5 {
  column-gap: 5px;
  row-gap: 10px;
}

.logo_box {
  padding: 14px 20px;
  min-width: 60px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #19191b;
  line-height: 1;
}

.lg_logo_box {
  padding: 14px 20px;
  min-width: 60px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #19191b;
}

.logo_box_section {
  gap: 20px;
}

.py_214 {
  padding: 214px 0px;
}

.enterprise-box .row-line {
  max-width: 1360px;
  row-gap: 48px;
}

.enterprise-box .row-line>div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.enterprise-box .row-line p {
  font-family: GT America;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0;
}

.review-box {
  padding: 200px 0px 174px;
}

.review-box .head h2 {
  color: #1c1c1e;
}

.review-box .head p {
  color: #2a3643;
  font-family: GT America;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 60px;
}

.review-card {
  border-radius: 16px;
  border: 1px solid rgba(37, 39, 59, 0.15);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(37, 39, 59, 0.1);
  padding: 60px 60px 69px;
  background-image: url(/assets/image/card.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1000px;
  margin: 0px 30px 0px 0px;
}

.review-card .slider-logo {
  width: 160px;
  height: 60px;
  margin-bottom: 36px;
}

.review-card .main-text {
  color: #1C1C1E;
  font-family: GT America;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.12px;
  padding-right: 50px;
  border-right: 1px solid rgba(37, 39, 59, 0.15);
  margin-right: 50px;
  margin-bottom: 0%;
}

.review-card .read-btn {
  border-radius: 8px;
  border: 1px solid #134d30;
  background: #218753;
  padding: 12px 16px;
  color: #fff;
  text-align: center;
  font-family: GT America;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-wrap: nowrap;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15),
    0px 2px 0px 0px rgba(255, 255, 255, 0.08) inset;
}

.avatar-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.avatar-box h4 {
  color: #1c1c1e;
  font-family: GT America;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

.avatar-box p {
  color: #2a3643;
  font-family: GT America;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
}

/* .review-box .slider-nav {
  position: relative;
} */
.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0px auto;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px;
}

.review-box .slick-prev,
.review-box .slick-next {
  /* position: absolute; */
  top: 230px;
  font-size: 24px;
  background-color: #1a1a1a;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.review-box .slick-prev {
  left: 22.5%;
}

.review-box .slick-next {
  right: 22.5%;
}

.nav_slider_logo {
  padding-top: 30px;
  border-top: 3px solid transparent;
}

.nav_slider_logo.slick-current {
  border-top: 3px solid #218753;
}

.nav_slider_logo img {
  width: auto;
  height: 34px;
  cursor: pointer;
}

.slider-for {
  max-width: 772px;
  margin: 60px auto 0px;
}

.slider-for .slick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 772px;
  transform: translate3d(0, 0, 0) !important;
  width: 100% !important;
}

.integrations_box {
  padding: 200px 0px;
}

.integrations_box .head {
  max-width: 999px;
}

.integrations_box .head p {
  color: #97A4B5;
  font-family: GT America;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 60px;
  max-width: 720px;
}

.blog_card {
  border-radius: 16px;
  /* max-height: 600px; */
  cursor: pointer;
  position: relative;
  display: flex !important;
  align-items: end;
  max-width: 440px;
  margin: 0px 20px;
}

.blog_card .main-img {
  height: 600px;
  border-radius: 16px 16px 20px 20px;
}

.blog_card .check {
  position: absolute;
  right: 40px;
  top: 30px;
  /* font-size: 24px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  border-radius: 50%;
  transform: rotate(-30deg);
  cursor: pointer; */
}

.blog_card .body {
  position: absolute;
  background: rgba(28, 28, 30, 0.90);
  backdrop-filter: blur(3.5px);
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.10);
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  border-left: 1px solid rgba(255, 255, 255, 0.10);
  padding: 20px 30px;
  margin-top: 360px;
  border-radius: 0px 0px 16px 16px;
}

.blog_card .body h4 {
  font-family: "GT America";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.12px;
}

.blog_card .body .main-text {
  font-family: "GT America";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.blog_card .body .tag_line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.blog_card .body .tag_line p {
  border: 1px solid #fff;
  padding: 2px 10px 5px 10px;
  border-radius: 100px;
  margin-bottom: 0px;
}

.slider-blog .slick-dots {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.slider-blog .slick-dots .slick-active button {
  background-color: #134d30;
  color: #fff;
}

.slider-blog .slick-dots button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  margin-top: 20px;
}

.integrations_box.bg_dark {
  background-color: #161618;
  padding: 200px 80px;
}

.main_post {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #121214;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  height: 100%;
  margin-right: 56px;
  cursor: pointer;
}

.main_post img {
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
  width: 100%;
}

.main_post h3 {
  font-family: "GT America";
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.main_post p {
  color: #97A4B5;
  font-family: "GT America";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main_post .body {
  padding: 20px;
}

.post_card {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #121214;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.post_card img {
  width: 260px;
  height: 154px;
}

.main_post .teg,
.post_card .teg {
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.06);
  padding: 0px 10px;
  color: #218753;
  text-align: center;
  font-family: "GT America";
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.06px;
  width: fit-content;
  margin-bottom: 10px;
}

.start_box {
  background-image: url(/assets/image/cta.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 80px 109px;
}

.start_box h1 {
  color: var(--border-Color, #FFF);
  font-family: "Alliance No.2";
  font-size: 60px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0.3px;
}

.features_btn {
  border-radius: 8px;
  border: 1px solid #2D2F30;
  background: #1C1C1E;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 0px 0px rgba(255, 255, 255, 0.08) inset;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FFF;
  text-align: center;
  font-family: "GT America";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 20px;
}

.features_btn:hover {
  background: #fff;
  color: #111b29;
}

.trial_btn {
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #FFF;
  background: rgba(28, 28, 30, 0.01);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 0px 0px rgba(255, 255, 255, 0.08) inset;
  color: #FFF;
  text-align: center;
  font-family: "GT America";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.trial_btn:hover {
  border: 1px solid #2D2F30;
  color: #fff;
  background: #2D2F30;
}

.logo_line {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.logo_line>div {
  border-right: 1px solid rgba(255, 255, 255, 0.40);
  padding-right: 20px;
}

.footer {
  padding: 87px 80px 30px;
}

.footer h5 {
  color: #FFF;
  font-family: "GT America";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.28px;
  margin-bottom: 20px;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer-link {
  color: #97A4B5;
  font-family: "GT America";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.24px;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.company-section p {
  font-family: "GT America";
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.company-section button {
  padding: 12px 16px;
  text-align: center;
  font-family: "GT America";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.company-section .btn-success {
  margin-right: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  text-decoration: none;
  color: #97A4B5;
}

.bottom_line {
  margin-top: 149px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.bottom_line p {
  color: #97A4B5;
  font-family: "GT America";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.07px;
}